# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files (MUST NOT BE UPLOADED)
.env
.vercel

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
.vercel
.env*.local
# Secrets (DO NOT PUSH)
firebase-admin.json
google-services.json
